{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ {
        'de': 'Startseite',
        'en': 'Homepage'
      }|translate_ui
    }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="footer-index">
    <div class='footer-index-container'>
      <div class="footer-index-image">
        <a href="{{ url_for('language_selector') }}">
          <img class="select-language" src="{{ url_for('static', filename='images/language.png') }}" />
        </a>
      </div>
      <div class="footer-index-buttons">
        <a href="{{ url_for('page_checkin') }}">
          <button type="button" class="button">
            {{ {
                  'de': 'Werkzeug zurückgeben',
                  'en': 'Checkin to storage'
                }|translate_ui
              }}
          </button>
        </a>
        <a href="{{ url_for('page_checkout') }}">
          <button type="button" class="button">
            {{ {
                  'de': 'Werkzeug ausleihen',
                  'en': 'Checkout from storage'
                }|translate_ui
              }}
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="index-paragraph">
    <span class="left-aligned">
      {{ {
            'de': 'Aktuell ausgeliehene Werkzeuge:',
            'en': 'Currently checked out:'
          }|translate_ui
        }}
    </span>
    <span class="right-aligned">
      {{ {
            'de': 'Bild klicken für vergrößerte Ansicht',
            'en': 'Click to enlarge thumbnail'
          }|translate_ui
        }}

    </span>
  </div>
  <ul class="gallery-container">
      {% for transaction in transaction_list %}
      <div class="image-container">
        <img class="gallery-img" src="data:image/jpeg;base64,{{ transaction.get('image')|base64 }}"/>
        <p class="image-timestamp">
              {{ {
                'de': 'Ausgeliehen: %s %s' % (user_dict.get(transaction.get('nfc_id'))|format_user, transaction.get('transaction_time')|ts2date),
                'en': 'Checked out: %s %s' % (user_dict.get(transaction.get('nfc_id'))|format_user, transaction.get('transaction_time')|ts2date)
              }|translate_ui
            }}
        </p>
      </div>
      {% endfor %}
  </ul>
  <div id="ModalViewer" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-img">
  </div>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
